
    <div class="container p-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Ingresa a nuestra plataforma</h3>
                    </div>
                    <div class="card-body">
                        <form action="/authentication/login" method="POST" >
                            <div class="form-group p-4">
                                <input type="text"name="email" placeholder="Ingresa tu E-Mail" class="form-control" autofocus>
                            </div>
                            <div class="form-group p-4">
                                <input type="password" name="pwd" placeholder="Ingresa tu contraseña" class="form-control " autofocus>
                            </div>
                            <input type="submit" class="btn btn-success btn-block" value="Ingresar"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>